<footer class="main-footer dark-footer  ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="footer-widget fl-wrap">
                                <h3>Acerca de nosotros</h3>
                                <div class="footer-contacts-widget fl-wrap">
                                    <p>-Preparación para exámenes de Ingreso en instituciones educativas de alto nivel </p>
                                    <ul  class="footer-contacts fl-wrap">
                                        <li><span><i class="fa fa-envelope-o"></i> Correo :</span><a href="#" target="_blank">eulearncol@gmail.com</a></li>
                                        <li> <span><i class="fa fa-map-marker"></i> Dirección :</span><a href="#" target="_blank">Direccion: Calle 146 CBIS No 91-21</a></li>
                                        <li><span><i class="fa fa-phone"></i> Celular :</span><a href="#">+57 322 8646154</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-widget fl-wrap">
                                <h3>Nuestras últimas noticias</h3>
                                <div class="footer-contacts-widget fl-wrap">
                                    <p>-Preparación para exámenes de Ingreso en instituciones educativas de alto nivel </p>
                                    <p>-Preparación para exámenes de Ingreso en instituciones educativas de alto nivel </p>
                                    <p>-Preparación para exámenes de Ingreso en instituciones educativas de alto nivel </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-widget fl-wrap">
                                <h3>Subscribete</h3>
                                <div class="subscribe-widget fl-wrap">
                                    <p>SUSCRÍBETE A NUESTRA NEWSLETTER Y RECIBE NUESTROS CONTENIDOS EXCLUSIVOS.</p>
                                    <div class="subcribe-form">
                                        <form id="subscribe">
                                            <input class="enteremail" name="email" id="subscribe-email" placeholder="Email" spellcheck="false" type="text">
                                            <button type="submit" id="subscribe-button" class="subscribe-button"><i class="fa fa-rss"></i> Subscribete</button>
                                            <label for="subscribe-email" class="subscribe-message"></label>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub-footer fl-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="about-widget">
                                    <img src="images/logo.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="copyright"> &#169; <%=Time.now.year%>. Todos los derechos reservados</div>
                            </div>
                            <div class="col-md-4">
                                <div class="footer-social">
                                    <ul>
                                        <li><a href="#" target="_blank" ><i class="fa fa-facebook-official"></i></a></li>
                                        <li><a href="#" target="_blank" ><i class="fa fa-whatsapp"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>