     <section  id="sec2">
                        <div class="container">
                            <div class="section-title">
                                <h2> Conozca Eulearn</h2>
                                <span class="section-separator"></span>
                                <p>Conoce nuestro funcionamiento</p>
                            </div>
                            <div class="time-line-wrap fl-wrap">
                                <!--  time-line-container  --> 
                                <div class="time-line-container">
                                    
                                    <div class="time-line-box tl-text tl-left">
                                        <span class="process-count">01 . </span>
                                        <h3>El mejor lugar para prepararse y afrontar el mundo</h3>
                                        <p style="text-align: justify;">Eulearn es una metodología que busca incentivar en el niño la autonomía a la hora de estudiar para fortalecer el potencial de aprendizaje de cada uno. Por medio de un proceso de aprendizaje planeado e individualizado el alumno se siente confiado y capaz de enfrentar por sí mismo el desafío de la conquista del conocimiento. Creado por un profesor de matemáticas y padre, preocupado por el proceso de aprendizaje de su hijo, el método Eulearn estimula en el alumno el gusto por aprender y a sentirse seguro.</p>
                                    </div>
                                    <div class="time-line-box tl-media tl-right">
                                        <%= image_tag("niña.png") %>
                                    </div>
                                </div>
                                <!--  time-line-container --> 
                                <!--  time-line-container  --> 
                                <div class="time-line-container lf-im">
                                 
                                    <div class="time-line-box tl-text tl-right">
                                        <span class="process-count">02 . </span>
                                        <h3>En Eulearn, el propio alumno desarrolla su capacidad de forma autodidacta.</h3>
                                        <p style="text-align: justify;">La gran innovación de Eulearn está en el hecho de no enseñar al alumno como resolver el material propuesto. Está estructurado de forma tal que el alumno puede resolver los ejercicios por sí mismo. Independientemente de la edad o del grado escolar en que tu hijo se encuentre, comenzará sus estudios con temas simples para que, poco a poco, avance y tenga contacto con temas más complejos, siempre adecuados a su capacidad. De esta forma, él siempre estará en condiciones para alcanzar la nota 100 (nota máxima). El objetivo es desarrollar en el alumno la autoconfianza, el interés por estudiar y aprender por sí mismo hasta que consiga llegar a su desempeño máximo. Así, en cada estudio realizado él podrá sentir la satisfacción y decirse si mismo “lo logre” experimentando la alegría de aprender y de expandir, cada vez más, su propia capacidad.</p>
                                    </div>
                                    <div class="time-line-box tl-media tl-left">
                                       <%= image_tag("kumon.png") %>
                                    </div>
                                </div>
                                <!--  time-line-container -->                             
                                <!--  time-line-container  --> 
                                <div class="time-line-container">
                                    
                                    <div class="time-line-box tl-text tl-left">
                                        <span class="process-count">03 . </span>
                                        <h3>La importancia de la individualización</h3>
                                        <p style="text-align: justify;">Entendemos que el nivel de capacidad de los niños posee diversas variables. 
                                        Algunos pueden perder la confianza o el interés por estudiar un contenido muy difícil, mientras que otros no se sienten desafiados con contenidos que le parecen fáciles.</p>
                                    </div>
                                    <div class="time-line-box tl-media tl-right">
                                        <%= image_tag("kumon3.png") %>
                                    </div>
                                </div>

                                 <div class="time-line-container">
                                    
                                    <div class="time-line-box tl-text tl-right">
                                        <span class="process-count">03 . </span>
                                        <h3>Transformamos niños en alumnos entusiasmados</h3>
                                        <p style="text-align: justify;">Nuestro trabajo está en desarrollar el poder de razonamiento del alumno para que llegue a las respuestas por si mismo. 

                                        Al darse cuenta de su propia capacidad para solucionar por sí mismo los temas escolares, el alumno desarrolla autoconfianza e interés en estudiar. Así, cada tarea realizada proporciona alegría de aprender o expandir, cada vez más, su propia capacidad</p>
                                    </div>
                                    <div class="time-line-box tl-media tl-left">
                                        <%= image_tag("kumon2.png") %>
                                    </div>
                                </div>
                                <!--  time-line-container -->                             
                                <div class="timeline-end"><i class="fa fa-check"></i></div>
                            </div>
                        </div>
                    </section>