<head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        
    </head>


<section class="scroll-con-sec hero-section" data-scrollax-parent="true" id="sec1">
    <div class="slideshow-container" data-scrollax="properties: { translateY: '200px' }" >
        <div class="slideshow-item">
            <div class="bg"  data-bg="<%= image_path('1.png') %>"></div>
        </div>
        <div class="slideshow-item">
            <div class="bg"  data-bg="<%= image_path('4.png') %>"></div>
        </div>   
        <div class="slideshow-item">
            <div class="bg"  data-bg="<%= image_path('3.png') %>"></div>
        </div> 
        <div class="slideshow-item">
            <div class="bg"  data-bg="<%= image_path('2.png') %>"></div>
        </div>                  
    </div>
    <div class="overlay"></div>
    
    <div class="hero-section-wrap fl-wrap">
        <div class="container">
            <div class="intro-item fl-wrap">
                <h2 style="font-weight: 700;">Eulearn</h2>
                <h3 style="font-weight: 700;">Desarrollo del pensamiento y talento academico</h3>
            </div>
        </div>
    </div>
    <div class="bubble-bg"> </div>
</section>

<!-- section end -->
<section style="padding-bottom:5px;">
    <div class="container">
        <div class="section-title">
            <h2>Eulearn: educación para toda la vida</h2>
            <div class="section-subtitle"> </div>
            <span class="section-separator"></span>
        </div>
    </div>
</section>


   <section class="color-bg">
                        <div class="shapes-bg-big"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="color-bg-text">  
                                        <p style="text-align: justify; font-size: 15px; font-weight: bold;">En Eulearn, el alumno es el verdadero protagonista y nuestro objetivo principal es que logre aprender a estudiar de forma autodidacta. Lo que ofrecemos es mucho más que unas clases particulares. Eulearn es un método de aprendizaje a largo plazo que desarrolla una serie de habilidades y capacidades en los alumnos a través de tres programas: Eulearn Matemáticas, Eulearn Lectura y Eulearn English.

                                        Aprender a leer es uno de los puntos fundamentales de Eulearn Lectura, pero no se trata solo de un método de lectura para niños. Nuestro sistema abarca desde la alfabetización hasta la lectura crítica, y se puede comenzar a partir de los dos años de edad. El alumno irá superando niveles e irá adquiriendo y desarrollando habilidades lectoras para poder enfrentarse a textos cada vez más complejos y convertirse en un lector competente.

                                        Eulearn ofrece también un programa de Matemáticas para niños, pero como ocurre con el programa de Lectura, no es exclusivo para los más pequeños. Cada alumno empieza por el nivel que le resulta adecuado, ya sea aprender a contar, hacer ejercicios de matemáticas de primaria o resolver sistemas de ecuaciones. Cada punto del programa amplía de manera gradual las habilidades adquiridas en el anterior, lo que permite desarrollar agilidad mental y exprimir al máximo el potencial de aprendizaje de todos ellos.

                                        Eulearn English permitirá al alumno adquirir las habilidades lingüísticas que le ayudarán a comprender textos avanzados en lengua inglesa y a expresarse en el idioma con fluidez. En consecuencia, ampliará sus horizontes de conocimiento al poder aproximarse a culturas diversas y acceder a la información en inglés, lengua de comunicación internacional esencial en la actualidad.

                                        Gracias a nuestros programas, los estudiantes adquieren habilidades para aprender a estudiar de una manera autodidacta, puesto que son ellos quienes encuentran por sí solos una forma de superar cualquier dificultad que se les presente, lo que aumenta además la confianza en sí mismos.

                                        Aunque Eulearn es un método de estudio autodidacta, los alumnos no están solos. Nuestros profesores ofrecen la orientación que necesitan para tomar las riendas de su aprendizaje, lo que, a su vez, aumenta su motivación para rendir y obtener buenos resultados.

                                        Aprender a estudiar es un proceso que requiere tiempo, programación y dedicación. Eulearn consiste en aprender de cara al día de mañana. Sin duda, se trata de la mejor preparación para tener éxito dentro y fuera del ámbito escolar.</p>
                                        <a href="#" class="color-bg-link modal-open">Registrarse</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

  <section id="sec2">
                        <div class="container">
                            <div class="section-title">
                                <h2>Nuestros Servicios</h2>
                                <span class="section-separator"></span>
                                <p>Diagnostico personalizado acorde con las necesidades de su hijo</p>
                            </div>
                            <!-- portfolio start -->
                            <div class="gallery-items fl-wrap mr-bot spad">
                                <!-- gallery-item-->
                                <div class="gallery-item">
                                    <div class="grid-item-holder">
                                        <div class="listing-item-grid">
                                          <%= image_tag("1.png") %>
                                            <div class="listing-counter"><span></span>Expertos en su área</div>
                                            <div class="listing-item-cat">
                                                <h3><a href="listing.html">Aprendizaje</a></h3>
                                                <p>Instructores calificados y comprometidos con el desarrollo de su hijo</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             
                                <div class="gallery-item gallery-item-second">
                                    <div class="grid-item-holder">
                                        <div class="listing-item-grid">
                                            <%= image_tag("niño1.png") %>
                                            <div class="listing-counter">Flexibilidad en los horarios de aprendizaje</div>
                                            <div class="listing-item-cat">
                                                <h3><a href="listing.html">Oferta</a></h3>
                                                <p>Multidisciplinar en las materias que necesita su hijo, Matemáticas, Física, Química, Biología, Lenguaje e Ingles.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- gallery-item end-->
                                <!-- gallery-item-->
                                <div class="gallery-item">
                                    <div class="grid-item-holder">
                                        <div class="listing-item-grid">
                                            <%= image_tag("3.png") %>
                                            <div class="listing-counter">Reconstrucción personal</div>
                                            <div class="listing-item-cat">
                                                <h3><a href="listing.html">Mejora del autoestima</a></h3>
                                                <p>crecimiento en el autoestima de su hijo y una notable mejora en su desempeño academico</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                                <!-- gallery-item end-->
                            </div>
                            <!-- portfolio end -->
                            <a href="listing.html" class="btn  big-btn circle-btn dec-btn  color-bg flat-btn">Ver Programas</a>
                        </div>
                    </section>

