  <section class="parallax-section" data-scrollax-parent="true" id="sec1">
                        <div class="bg par-elem "  data-bg="<%= image_path('3.png') %>" data-scrollax="properties: { translateY: '30%' }"></div>
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="section-title center-align">
                                <h2><span>Qué es el método Eulearn</span></h2>
                                <div class="breadcrumbs fl-wrap"></div>
                                <span class="section-separator"></span>
                            </div>
                        </div>
                    </section>

                    <section  id="sec2">
                        <div class="container">
                            <div class="section-title">
                                <h2>Cómo funciona nuestro método</h2>
                                <span class="section-separator"></span>
                                <p></p>
                            </div>
                            <!--about-wrap --> 
                            <div class="about-wrap">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="video-box fl-wrap">
                                            <%= image_tag("4.png") %>
                                            <a class="video-box-btn image-popup" href="https://vimeo.com/110234211"><i class="fa fa-play" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>Descubre nuestra metodología</h3>
                                            <h4>Observa el video y la siguiente lectura para que tengas mayor información</h4>
                                            <span class="section-separator fl-sec-sep"></span>
                                        </div>
                                        <p style="text-align: justify;">Eulearn es una metodología que busca incentivar en el niño la autonomía a la hora de estudiar buscando fortalecer el potencial de aprendizaje de cada uno.
                                        Por medio de un proceso de aprendizaje planeado e individualizado, el alumno se siente confiado y capaz de enfrentar por sí mismo el desafío de la conquista del conocimiento.</p>
                                        <p style="text-align: justify;">
                                        Preocupado en desarrollar la capacidad de su hijo, Toru Eulearn preparó su propio material didáctico y método de estudio. Elaboró ejercicios de cálculo en hojas sueltas de papel y las combinó con un método de autoestudio que permitió a su hijo, Takeshi, avanzar por sí mismo.
                                        Esos fueron los cimientos del método Eulearn. Abordaje individual de acuerdo con la capacidad del niño, además de potenciar otras habilidades cognitivas que servirían para toda la vida.
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- about-wrap end  --> 
                            <span class="fw-separator"></span>
                            <!-- features-box-container --> 
                            <div class="features-box-container fl-wrap row">
                                <!--features-box --> 
                                <div class="features-box col-md-4">
                                    <div class="time-line-icon">
                                        <i class="fa fa-university"></i>
                                    </div>

                                    <h3>Enseñanza Personalizada</h3>
                                    <p style="text-align: justify;">El método Eulearn fue diseñado  para resolver los problemas de aprendizaje y conocimientos del estudiante. Este se fundamenta en un análisis inicial que identifica las debilidades del estudiante y implementa un plan de trabajo con seguimiento del tutor para generar resultados positivos.</p>
                                     <h3>Construcción de conocimiento</h3>
                                    <p style="text-align: justify;">En Eulearn consideramos fundamental el desarrollo del pensamiento y el  talento académico. Para nosotros es  importante que el estudiante por un lado desarrolle hábitos de estudio y paralelamente aprenda a resolver creativa, efectiva y eficientemente los problemas.</p>
                                    <h3>Material Didáctico</h3>
                                    <p style="text-align: justify;">Exclusivo y adecuado a las necesidades del estudiante, el material didáctico de Eulearn posee contenido personalizado para estimular la capacidad de análisis y resolución de problemas. Para Eulearn el material didáctico no solo estimula sino también ayuda a generar las competencias que el estudiante necesita.</p>

                                </div>
                                <!-- features-box end  --> 
                                <!--features-box --> 
                                <div class="features-box col-md-4">
                                    <div class="time-line-icon">
                                        <i class="fa fa-graduation-cap"></i>
                                    </div>
                                    <h3>Sin tareas extra</h3>
                                    <p style="text-align: justify;">Eulearn no pone tareas extra, nuestra misión es ayudar para que el estudiante pueda resolver sus responsabilidades de una manera más rápida y que si necesita reforzar un ásignatura específica tenga con Eulearn el aliado perfecto para hacerlo.</p>
                                     <h3>Construyendo camino</h3>
                                    <p style="text-align: justify;">Eulearn está comprometido con el desarrollo de pensamiento y talento del estudiante, para que pueda tener las capacidades de tomar decisiones en el momento de enfrentar problemas y retos de la vida. Al final aprendemos para solucionar problemas y entre más habilidades tenemos más fácil y rápido podremos hacerlo.</p>
                                    <h3>Tutores</h3>
                                    <p style="text-align: justify;">Los tutores son fundamentales en el proceso de aprendizaje, este no solo tiene la misión de mostrarle el camino correcto sino además de enseñarle porque lo es. La personalidad, las emociones, la familia, las fortalezas y debilidades académicas del estudiante son interpretadas por  tutores para identificar las necesidades del estudiante y diseñar el plan de trabajo.</p>
                                </div>
                                <!-- features-box end  --> 
                                <!--features-box --> 
                                <div class="features-box col-md-4">
                                    <div class="time-line-icon">
                                        <i class="fa fa-school"></i>
                                    </div>
                                     <h3>Más lejos</h3>
                                    <p style="text-align: justify;">Los estudiantes de Eulearn no solo demuestran estar un paso delante de sus compañeros sino además entienden que la competencia más fuerte es con ellos mismos, no se trata de quien llega más rápido sino de quien llega más lejos.</p>
                                     <h3>Pasión por aprender</h3>
                                    <p style="text-align: justify;">Estimulamos a nuestros alumnos para que siempre busquen nuevas formas de aprender y de profundizar en los asuntos, incluso fuera de los temas que abordamos.</p>
                                    <h3>Un paso adelante</h3>
                                    <p style="text-align: justify;">El método Eulearn aumenta las habilidades de los niños para que siempre estén avanzados en relación al contenido escolar.</p>
                                </div>
                                <!-- features-box end  -->                                                   
                            </div>
                        </div>
                    </section>

                        <section id="sec5">
                        <div class="container">
                            <div class="section-title">
                                <h2>Testimonios</h2>
                                <span class="section-separator"></span>
                                <p>Los mejores casos de nuestros estudiantes que han mejorado
                                sus hábitos de aprendizaje.</p>
                            </div>
                        </div>
                       
                        <div class="carousel fl-wrap">
                            
                            <div class="testimonials-carousel single-carousel fl-wrap">
                          
                                <div class="slick-slide-item">
                                    <div class="testimonilas-text">
                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
                                        <p>Conoce  a Mathias, con 8 años, cursa matemáticas en Eulearn, su postura de estudio, disciplina y concentración han sido sus mayores logros, además descubrió que con Eulearn las matemáticas en su vida ya no serán  un coco. </p>
                                    </div>
                                    <div class="testimonilas-avatar-item">
                                        <div class="testimonilas-avatar"> <%= image_tag("4.png") %></div>
                                        <h4>Mathias Burgos</h4>
                                    </div>
                                </div>

                                 <div class="slick-slide-item">
                                    <div class="testimonilas-text">
                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
                                        <p>Élla es Maria Cardenas, tiene 9 años era muy tímida en clase y por momentos no lograba entrar en la tónica de sus demás compañeros, gracias a Eulearn ha fortalecido sus capacidades y su autoestima.</p>
                                    </div>
                                    <div class="testimonilas-avatar-item">
                                        <div class="testimonilas-avatar"> <%= image_tag("4.png") %></div>
                                        <h4>Maria Cardenas</h4>
                                    </div>
                                </div>
                               
                                <div class="slick-slide-item">
                                    <div class="testimonilas-text">
                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
                                        <p>Él es Thiago, tiene 6 años y es alumno de Eulearn Español. Disciplina, seguridad, mejor rendimiento académico y gusto por la lectura son algunas de las habilidades que Thiago ha podido desarrollar con Eulearn.</p>
                                    </div>
                                    <div class="testimonilas-avatar-item">
                                        <div class="testimonilas-avatar"> <%= image_tag("4.png") %></div>
                                        <h4>Thiago Gómez</h4>
                                    </div>
                                </div>
                                
                                <div class="slick-slide-item">
                                    <div class="testimonilas-text">
                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="4"> </div>
                                        <p>Entérate cómo Rosemberg Fabian descubrió el poder de aprenden un segundo idioma con Eulearn. Las canciones, las imágenes  despertado en ella el gusto por aprender un segundo idioma y vivir un mundo sin fronteras.</p>
                                    </div>
                                    <div class="testimonilas-avatar-item">
                                        <div class="testimonilas-avatar"> <%= image_tag("4.png") %></div>
                                        <h4>Fabián Suarez</h4>
                                    </div>
                                </div>
                                <!--slick-slide-item end-->   
                            </div>
                            <!--testimonials-carousel end-->
                            <div class="swiper-button-prev sw-btn"><i class="fa fa-long-arrow-left"></i></div>
                            <div class="swiper-button-next sw-btn"><i class="fa fa-long-arrow-right"></i></div>
                        </div>
                        <!-- carousel end-->
                    </section>