    <section class="gray-section no-top-padding">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="list-single-main-wrapper fl-wrap" id="sec2">
                                        <div class="list-single-main-media fl-wrap">
                                             <%= image_tag("2.png") %>
                                          
                                            <a href="https://vimeo.com/70851162" class="promo-link gradient-bg image-popup"><i class="fa fa-play"></i><span>Programa “fast Class”</span></a>
                                        </div>
                                        <div class="list-single-main-item fl-wrap">
                                            <div class="list-single-main-item-title fl-wrap">
                                                <h3>“Este problema no es tan difícil como piensas, solo necesitas el camino correcto…hagámoslo en tiempo récord”</h3>
                                            </div>
                                            <p style="text-align: justify;">Este programa esta diseñado para responder a problemas puntuales que necesitan solución de manera inmediata. Creado para orientar a los estudiantes que necesitan resolver preguntas puntuales de tareas o talleres de alguna de las áreas o prepararse para exámenes de temas específicos. Ponemos a su disposición el servicio de nuestros tutores de cada área con sesiones de una hora y media para solucionar dichas problemáticas específicas.</p>
                                            <a href="#" class="btn transparent-btn float-btn">Descargar banner <i class="fa fa-file-pdf-o"></i></a>
                                            <span class="fw-separator"></span>
                                            <div class="list-single-main-item-title fl-wrap">
                                                <h3>Carecteristicas Principales</h3>
                                            </div>
                                            <div class="listing-features fl-wrap">
                                                <ul>
                                                   <li><i class="fa fa-rocket"></i>Enseñanza Personalizada</li>
                                                    <li><i class="fa fa-wifi"></i>Construcción de conocimiento</li>
                                                    <li><i class="fa fa-motorcycle"></i>Material didáctico</li>
                                                    <li><i class="fa fa-cloud"></i>Sin tareas extra</li>
                                                    <li><i class="fa fa-shopping-cart"></i> Tutores personalizados</li>
                                                </ul>
                                            </div>
                                            <span class="fw-separator"></span>
                                        
                                        </div>                          
                                    </div>
                                </div>
                                <!--box-widget-wrap -->
                                <div class="col-md-4">
                                    <div class="box-widget-wrap">
                                        <!--box-widget-item -->
                                        <div class="box-widget-item fl-wrap">
                                            <div class="box-widget-item-header">
                                                <h3>Horario disponible : </h3>
                                            </div>
                                            <div class="box-widget opening-hours">
                                                <div class="box-widget-content">
                                                    
                                                    <ul>
                                                        <li><span class="opening-hours-day">Lunes </span><span class="opening-hours-time">9 AM - 5 PM</span></li>
                                                        <li><span class="opening-hours-day">Martes </span><span class="opening-hours-time">9 AM - 5 PM</span></li>
                                                        <li><span class="opening-hours-day">Miercoles </span><span class="opening-hours-time">9 AM - 5 PM</span></li>
                                                        <li><span class="opening-hours-day">Jueves </span><span class="opening-hours-time">9 AM - 5 PM</span></li>
                                                        <li><span class="opening-hours-day">Viernes </span><span class="opening-hours-time">9 AM - 5 PM</span></li>
                                                        <li><span class="opening-hours-day">Sabado </span><span class="opening-hours-time">9 AM - 3 PM</span></li>
                                                        <li><span class="opening-hours-day">Sunday </span><span class="opening-hours-time">Cerrado</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--box-widget-item end -->  
                                        <!--box-widget-item -->
                                        <div class="box-widget-item fl-wrap">
                                            <div class="box-widget-item-header">
                                                <h3>Reserva tú clase online : </h3>
                                            </div>
                                            <div class="box-widget opening-hours">
                                                <div class="box-widget-content">
                                                    <form   class="add-comment custom-form">
                                                        <fieldset>
                                                            <label><i class="fa fa-user-o"></i></label>
                                                            <input type="text" placeholder="Nombre *" value=""/>
                                                            <div class="clearfix"></div>
                                                            <label><i class="fa fa-envelope-o"></i>  </label>
                                                            <input type="text" placeholder="Email *" value=""/>
                                                            <div class="quantity fl-wrap">
                                                                <span><i class="fa fa-user-plus"></i>Personas: </span>
                                                                <div class="quantity-item">
                                                                    <input type="button" value="-" class="minus">
                                                                    <input type="text"    name="quantity"   title="Qty" class="qty" min="1" max="3" step="1" value="1">
                                                                    <input type="button" value="+" class="plus">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">                               
                                                                    <label><i class="fa fa-calendar-check-o"></i>  </label>
                                                                    <input type="text" placeholder="Fecha" class="datepicker"   data-large-mode="true" data-large-default="true" value=""/>
                                                                </div>
                                                                <div class="col-md-6"> 
                                                                    <label><i class="fa fa-clock-o"></i>  </label>
                                                                    <input type="text" placeholder="Time" class="timepicker" value="Hora"/>
                                                                </div>
                                                            </div>
                                                            <textarea cols="40" rows="3" placeholder="Información adicional:"></textarea>
                                                        </fieldset>
                                                        <button class="btn  big-btn  color-bg flat-btn">Reserva<i class="fa fa-angle-right"></i></button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                    
                                       
                                        <!--box-widget-item end -->     
                                    </div>
                                </div>
                                <!--box-widget-wrap end -->
                            </div>
                        </div>
                    </section>