                    <section class="gray-section no-top-padding">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="list-single-main-wrapper fl-wrap" id="sec2">
                                        <div class="list-single-main-media fl-wrap">
                                             <%= image_tag("1.png") %>
                                          
                                            <a href="https://vimeo.com/70851162" class="promo-link gradient-bg image-popup"><i class="fa fa-play"></i><span>Programa Intensivo</span></a>
                                        </div>
                                        <div class="list-single-main-item fl-wrap">
                                            <div class="list-single-main-item-title fl-wrap">
                                                <h3>“Aprendo lo que quiero, enfocado en mi meta”</h3>
                                            </div>
                                            <p style="text-align: justify;">Este programa esta diseñado para enfocar al estudiante en un área específica, concentrando todos los esfuerzos en desarrollar las habilidades y conocimientos necesarios en las  áreas de nuestra especialidad. </p>
                                            <p style="text-align: justify;">Cada paquete consiste en ocho (8) sesiones en total, cada sesión es de hora y media para un total 12 horas enfocadas en aprender y fortalecer los conocimientos del estudiante. Iniciamos siempre con un diagnóstico  para determinar qué es lo que necesita desarrollar sin perder tiempo en lo que ya aprendió y en temas que no necesita.</p>
                                            <div class="list-single-main-item-title fl-wrap">
                                                <h3>“Solucionamos el problema especifico enfocando todos los esfuerzos en 1 área”</h3>
                                            </div>
                                            <p style="text-align: justify;">Este servicio esta diseñado para fortalecer los conocimientos del estudiante en un área especifica
                                            o para reforzar las bases que pueden estar afectando otras materias. Ejemplo: un estudiante que
                                            tiene problemas en muchas materias no necesariamente necesitara reforzar en todas, puede ser
                                            un problema de lectura que dificulta su comprensión o de bases matemáticas para resolver
                                            problemas de química o física. Eulearn se enfoca en encontrar el problema fundamental y
                                            utilizar todos los recursos para solucionarlo. Nuestro compromiso es que su hijo avance.
                                            También funciona para mejorar y ayudar a su hijo en la materia que más se le dificulta haciendo
                                            que avance más rápido y pueda obtener mejores resultados.</p>
                                           
                                           
                                            <a href="#" class="btn transparent-btn float-btn">Descargar banner <i class="fa fa-file-pdf-o"></i></a>
                                            <span class="fw-separator"></span>
                                            <div class="list-single-main-item-title fl-wrap">
                                                <h3>Carecteristicas Principales</h3>
                                            </div>
                                            <div class="listing-features fl-wrap">
                                                <ul>
                                                  <li><i class="fa fa-rocket"></i>Enseñanza Personalizada</li>
                                                    <li><i class="fa fa-wifi"></i>Construcción de conocimiento</li>
                                                    <li><i class="fa fa-motorcycle"></i>Material didáctico</li>
                                                    <li><i class="fa fa-cloud"></i>Sin tareas extra</li>
                                                    <li><i class="fa fa-shopping-cart"></i> Tutores personalizados</li>
                                                </ul>
                                            </div>
                                            <span class="fw-separator"></span>
                                        
                                        </div>                          
                                    </div>
                                </div>
                                <!--box-widget-wrap -->
                                <div class="col-md-4">
                                    <div class="box-widget-wrap">
                                        <!--box-widget-item -->
                                        <div class="box-widget-item fl-wrap">
                                            <div class="box-widget-item-header">
                                                <h3>Horario disponible : </h3>
                                            </div>
                                            <div class="box-widget opening-hours">
                                                <div class="box-widget-content">
                                                    
                                                    <ul>
                                                        <li><span class="opening-hours-day">Lunes </span><span class="opening-hours-time">9 AM - 5 PM</span></li>
                                                        <li><span class="opening-hours-day">Martes </span><span class="opening-hours-time">9 AM - 5 PM</span></li>
                                                        <li><span class="opening-hours-day">Miercoles </span><span class="opening-hours-time">9 AM - 5 PM</span></li>
                                                        <li><span class="opening-hours-day">Jueves </span><span class="opening-hours-time">9 AM - 5 PM</span></li>
                                                        <li><span class="opening-hours-day">Viernes </span><span class="opening-hours-time">9 AM - 5 PM</span></li>
                                                        <li><span class="opening-hours-day">Sabado </span><span class="opening-hours-time">9 AM - 3 PM</span></li>
                                                        <li><span class="opening-hours-day">Sunday </span><span class="opening-hours-time">Cerrado</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--box-widget-item end -->  
                                        <!--box-widget-item -->
                                        <div class="box-widget-item fl-wrap">
                                            <div class="box-widget-item-header">
                                                <h3>Reserva tú clase online : </h3>
                                            </div>
                                            <div class="box-widget opening-hours">
                                                <div class="box-widget-content">
                                                    <form   class="add-comment custom-form">
                                                        <fieldset>
                                                            <label><i class="fa fa-user-o"></i></label>
                                                            <input type="text" placeholder="Nombre *" value=""/>
                                                            <div class="clearfix"></div>
                                                            <label><i class="fa fa-envelope-o"></i>  </label>
                                                            <input type="text" placeholder="Email *" value=""/>
                                                            <div class="quantity fl-wrap">
                                                                <span><i class="fa fa-user-plus"></i>Personas: </span>
                                                                <div class="quantity-item">
                                                                    <input type="button" value="-" class="minus">
                                                                    <input type="text"    name="quantity"   title="Qty" class="qty" min="1" max="3" step="1" value="1">
                                                                    <input type="button" value="+" class="plus">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">                               
                                                                    <label><i class="fa fa-calendar-check-o"></i>  </label>
                                                                    <input type="text" placeholder="Fecha" class="datepicker"   data-large-mode="true" data-large-default="true" value=""/>
                                                                </div>
                                                                <div class="col-md-6"> 
                                                                    <label><i class="fa fa-clock-o"></i>  </label>
                                                                    <input type="text" placeholder="Time" class="timepicker" value="Hora"/>
                                                                </div>
                                                            </div>
                                                            <textarea cols="40" rows="3" placeholder="Información adicional:"></textarea>
                                                        </fieldset>
                                                        <button class="btn  big-btn  color-bg flat-btn">Reserva<i class="fa fa-angle-right"></i></button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                    
                                       
                                        <!--box-widget-item end -->     
                                    </div>
                                </div>
                                <!--box-widget-wrap end -->
                            </div>
                        </div>
                    </section>