<!DOCTYPE html>
<html>
  <head>
    <title>Eulearn</title>

    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,400" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', async: Rails.env.production?, cache: Rails.env.production? %>
    <%= render 'shared/favicon' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body>
    <div class="loader-wrap">
        <div class="pin"><div class="visual-container">
  <svg viewBox="0 0 563 800" class="stroke-lines on">
    <path fill="none" stroke="#ee99aa" stroke-width="10" stroke-linejoin="bevel" stroke-miterlimit="10" d="M340.5,111.8C372.3,80,400.7,43,440.4,20.4c45.8-26,105-22.5,146.9,9.7c43.6,33.6,59.3,95.2,43.2,146.9
  c-8.9,28.4-27.8,53.2-53.3,68.6c-47.1,28.4-108.5,20-150.8-13.4c-33.4-26.4-61.8-60.5-91.9-90.6c-24.6-24.6-48.6-49.7-73-74.6
  C229.2,34.2,193.3,6.4,145,5.6C65.4,4.4-9,81.9,4.4,163.1c4.4,26.6,17.2,51.4,36.3,70.5c0,0,6.8,6.8,6.8,6.8
  c29.8,29.8,73.2,43.4,114.8,36c66.5-11.9,106.3-73.4,150.7-117.8" />
</svg>
  <svg viewBox="0 0 563 800" class="stroke-lines paralax on">
    <path fill="none" stroke="#fff" stroke-width="10" stroke-linejoin="bevel" stroke-miterlimit="10" d="M340.5,111.8C372.3,80,400.7,43,440.4,20.4c45.8-26,105-22.5,146.9,9.7c43.6,33.6,59.3,95.2,43.2,146.9
  c-8.9,28.4-27.8,53.2-53.3,68.6c-47.1,28.4-108.5,20-150.8-13.4c-33.4-26.4-61.8-60.5-91.9-90.6c-24.6-24.6-48.6-49.7-73-74.6
  C229.2,34.2,193.3,6.4,145,5.6C65.4,4.4-9,81.9,4.4,163.1c4.4,26.6,17.2,51.4,36.3,70.5c0,0,6.8,6.8,6.8,6.8
  c29.8,29.8,73.2,43.4,114.8,36c66.5-11.9,106.3-73.4,150.7-117.8" />
</svg>

<div class="loader_text"><p>Eulearn</p></div>
</div></div>
        
    </div>
    <div id="main"> 
        <%= render 'shared/navbar' unless @disable_nav %>
        <%= render 'shared/message' %>
        <div id="wrapper">
          <div class="content">
            <%= yield %>
          </div>
        </div>
        <footer>
            <%= render 'shared/footer' unless @disable_foot %>
        </footer>
        <a class="to-top" style="display: none;"><i class="fa fa-angle-up"></i></a>
        
    </div>
  </body>
</html>
